name: Functional Tests
permissions: 
  contents: write

on: 
    push:
        branches: main

jobs: 
    Tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install dependencies
              run: npm install

            - name: Install Allure plugin
              run: npm install -D @shelex/cypress-allure-plugin

            - name: Cypress run
              uses: cypress-io/github-action@v6
              with:
                command: npx cypress run
              env:
                allure: true

            - name: generate allure-report
              run: npx allure generate --clean && npx allure open

            - name: get Allure history
              uses: actions/checkout@v4
              if: always()
              continue-on-error: true
              with:
                ref: gh-pages
                path: gh-pages

            - name: Test marketplace action
              uses: simple-elf/allure-report-action@master
              if: always()
              id: allure-report
              with:
                allure_results: build/allure-results
                gh_pages: gh-pages
                allure_report: allure-report
                allure_history: allure-history

            - name: Deploy report to Github Pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_branch: gh-pages
                publish_dir: allure-history